<?xml version="1.0"?>
<config>
    <modules>
        <VJTemplates_FeaturedHorzCarousel>
            <version>1.0.0</version>
        </VJTemplates_FeaturedHorzCarousel>
    </modules>
    <frontend>
        <routers>
            <featuredhorzcarousel>
                <use>standard</use>
                <args>
                    <module>VJTemplates_FeaturedHorzCarousel</module>
                    <frontName>featuredhorzcarousel</frontName>
                </args>
            </featuredhorzcarousel>
        </routers>
        <layout>
            <updates>
                <featuredhorzcarousel>
                    <file>vjtemplates/featuredhorzcarousel.xml</file>
                </featuredhorzcarousel>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <featuredhorzcarousel>
                <class>VJTemplates_FeaturedHorzCarousel_Model</class>
            </featuredhorzcarousel>
        </models>
        <blocks>
            <featuredhorzcarousel>
                <class>VJTemplates_FeaturedHorzCarousel_Block</class>
            </featuredhorzcarousel>
        </blocks>
        <helpers>
            <featuredhorzcarousel>
                <class>VJTemplates_FeaturedHorzCarousel_Helper</class>
            </featuredhorzcarousel>
        </helpers>
    </global>
</config>